{% extends "base.html" %}

{% block content %}

<head>
  <div class="container" style="padding-top: 10%; padding-bottom: 10%;">
    <div class="hero__content hero-content-style1">
      <h2 class="hero-large-text"><span class="js-rotating morphext"><span class="animated flipInX">Equipe Simplon</span></span></h2>
      <p class="hero-small-text"></p> 
      <img style="max-width: 500px" src="{{ url_for('static', filename='img/presentation/team_simplon.png') }}" alt="" />
    </div>
  </div>
</head>

<body>
  <div id="content" class="site-content">
    <main id="main" class="site-main" role="main">
      <section id="services" class="section-services section-padding section-meta onepage-section">
        <div class="container">
          <div class="section-title-area">
            <h2 class="section-title">Principales étapes de conception</h2>
            <div class="section-desc">
              <p>Je suis intervenue sur plusieurs étapes majeures lors de la conception de mon projet de voiture autonome
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-lg-6 wow slideInUp" style="visibility: visible; animation-name: slideInUp;">
              <div class="service-item ">
                <div class="service-thumbnail ">
                  <img width="640" height="400"
                    src="https://i.ibb.co/MBsw5R5/189038798-1143695242812126-3460840006787639314-n.jpg"
                    class="attachment-onepress-medium size-onepress-medium wp-post-image" alt="Analysis"
                    srcset="https://i.ibb.co/MBsw5R5/189038798-1143695242812126-3460840006787639314-n.jpg 640w, https://i.ibb.co/MBsw5R5/189038798-1143695242812126-3460840006787639314-n.jpg 480w"
                    sizes="(max-width: 640px) 100vw, 640px">
                </div>
                <div class="service-image"><i class="fa fa fa-cubes fa-5x"></i></div>
                <div class="service-content">
                  <h4 class="service-title">Circuit maison</h4>
                  <p>Construction d'une piste de 3m x 3m.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6 wow slideInUp" style="visibility: visible; animation-name: slideInUp;">
              <div class="service-item ">
                <div class="service-thumbnail ">
                  <img width="640" height="400"
                    src="https://i.ibb.co/pwF3tGg/Image1.png"
                    class="attachment-onepress-medium size-onepress-medium wp-post-image" alt="storage"
                    srcset="https://i.ibb.co/pwF3tGg/Image1.png 640w, https://i.ibb.co/pwF3tGg/Image1.png 480w"
                    sizes="(max-width: 640px) 100vw, 640px">
                </div>
                <div class="service-image"><i class="fa fa-gg fa-5x"></i></div>
                <div class="service-content">
                  <h4 class="service-title">Capture des données</h4>
                  <p>Enregistrement des images sur plusieurs circuits du simulateur DonkeySim et sur mon circuit "maison".</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6 clearleft wow slideInUp"
              style="visibility: visible; animation-name: slideInUp;">
              <div class="service-item ">
                <div class="service-thumbnail ">
                  <img width="640" height="400"
                    src="https://i.ibb.co/tQq3xwg/circuit-qualif.jpg"
                    class="attachment-onepress-medium size-onepress-medium wp-post-image" alt="neodelphis"
                    srcset="https://i.ibb.co/tQq3xwg/circuit-qualif.jpg 640w, https://i.ibb.co/tQq3xwg/circuit-qualif.jpg 480w"
                    sizes="(max-width: 640px) 100vw, 640px">
                </div>
                <div class="service-image"><i class="fa fa-balance-scale fa-5x"></i></div>
                <div class="service-content">
                  <h4 class="service-title">Circuit Phase Qualificative</h4>
                  <p></p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6 wow slim * deInUp" style="visibility: visible; animation-name: slideInUp;">
              <div class="service-item ">
                <div class="service-thumbnail ">
                  <img width="640" height="400"
                    src="https://i.ibb.co/ssK8DzJ/flask.webp"
                    class="attachment-onepress-medium size-onepress-medium wp-post-image" alt="neodelphis"
                    srcset="https://i.ibb.co/ssK8DzJ/flask.webp 640w, https://i.ibb.co/ssK8DzJ/flask.webp 480w"
                    sizes="(max-width: 640px) 100vw, 640px">
                </div>
                <div class="service-image"><i class="fa fa-object-group fa-5x"></i></div>
                <div class="service-content">
                  <h4 class="service-title">Photo d'Equipe</h4>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="contact" class="section-contact section-padding  section-meta onepage-section">
        <div class="container">
          <div class="section-title-area">
            <h2  id="contact" class="section-title">Contact</h2>
            <div class="section-desc">
              <p>Audrey FOUGERE<br>
                07 84 91 19 98<br>
                Nantes</p>
            </div>
          </div>
      </section>
    </main><!-- #main -->
  </div>
</body>



{% endblock %}m