{% extends "base.html" %}

{% block content %}

<head>
  <div class="container" style="padding-top: 10%; padding-bottom: 10%;">
    <div class="hero__content hero-content-style1">
      <h2 class="hero-large-text"><span class="js-rotating morphext"><span class="animated flipInX">Projet Chef d'Oeuvre</span></span></h2>
      <p class="hero-small-text"> Course de voiture autonome organisée par le Groupe SIGMA</p> 
      <a href="https://www.sigma.fr/2021/01/18/intelligence-artificielle-samuser-progresser-partager/" class="btn btn-theme-primary btn-lg">Genèse du projet</a> 
      <a href="https://www.sigma.fr/2020/12/03/favoriser-une-intimite-plus-grande-entre-lentreprise-et-les-etudiants/" class="btn btn-secondary-outline btn-lg">Objectifs</a>
      <a href="https://www.linkedin.com/feed/update/urn:li:activity:6788821862018252800/?updateEntityUrn=urn%3Ali%3Afs_feedUpdate%3A%28V2%2Curn%3Ali%3Aactivity%3A6788821862018252800%29" class="btn btn-secondary-outline btn-lg">Courses qualificatives</a>
    </div>
  </div>
</head>

<body>
  <div id="content" class="site-content">
    <main id="main" class="site-main" role="main">
      <section id="services" class="section-services section-padding section-meta onepage-section">
        <div class="container">
          <div class="section-title-area">
            <h2 class="section-title">Principales étapes d'analyse</h2>
            <div class="section-desc">
              <p>Je suis intervenue sur plusieurs étapes majeures lors de la conception de mon projet de voiture autonome
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-lg-6 wow slideInUp" style="visibility: visible; animation-name: slideInUp;">
              <div class="service-item ">
                <div class="service-thumbnail ">
                  <img width="640" height="400"
                    src="https://i.ibb.co/4pwqTPk/4547e2ef5b0ae3f70bd0d602c8947ac1.jpg"
                    class="attachment-onepress-medium size-onepress-medium wp-post-image" alt="Analysis"
                    srcset="https://i.ibb.co/4pwqTPk/4547e2ef5b0ae3f70bd0d602c8947ac1.jpg 640w, https://i.ibb.co/4pwqTPk/4547e2ef5b0ae3f70bd0d602c8947ac1.jpg 480w"
                    sizes="(max-width: 640px) 100vw, 640px">
                </div>
                <div class="service-image"><i class="fa fa fa-cubes fa-5x"></i></div>
                <div class="service-content">
                  <h4 class="service-title">Data Analysis</h4>
                  <p>Développement de la gestion des données analytique d'un projet d'application afin d'en extraire les caractéristiques utiles au déploiement de solutions
                    d’apprentissage automatique.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6 wow slideInUp" style="visibility: visible; animation-name: slideInUp;">
              <div class="service-item ">
                <div class="service-thumbnail ">
                  <img width="640" height="400"
                    src="https://i.ibb.co/JHZn4X0/e68572ee8299a1f93a9299da38dcbafc.jpg"
                    class="attachment-onepress-medium size-onepress-medium wp-post-image" alt="storage"
                    srcset="https://i.ibb.co/JHZn4X0/e68572ee8299a1f93a9299da38dcbafc.jpg 640w, https://i.ibb.co/JHZn4X0/e68572ee8299a1f93a9299da38dcbafc.jpg 480w"
                    sizes="(max-width: 640px) 100vw, 640px">
                </div>
                <div class="service-image"><i class="fa fa-gg fa-5x"></i></div>
                <div class="service-content">
                  <h4 class="service-title">Data Storage</h4>
                  <p>Stockage des données en base de donnée SQLite relationnelle et analytique</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6 clearleft wow slideInUp"
              style="visibility: visible; animation-name: slideInUp;">
              <div class="service-item ">
                <div class="service-thumbnail ">
                  <img width="640" height="400"
                    src="https://i.ibb.co/2jYV41m/ct-nophore.webp"
                    class="attachment-onepress-medium size-onepress-medium wp-post-image" alt="neodelphis"
                    srcset="https://i.ibb.co/2jYV41m/ct-nophore.webp 640w, https://i.ibb.co/2jYV41m/ct-nophore.webp 480w"
                    sizes="(max-width: 640px) 100vw, 640px">
                </div>
                <div class="service-image"><i class="fa fa-balance-scale fa-5x"></i></div>
                <div class="service-content">
                  <h4 class="service-title">Deep Learning</h4>
                  <p>Utilisation et paramétrage des techniques d’apprentissage automatique tels que les réseaux
                    neuronaux à convolutions</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6 wow slideInUp" style="visibility: visible; animation-name: slideInUp;">
              <div class="service-item ">
                <div class="service-thumbnail ">
                  <img width="640" height="400"
                    src="https://i.ibb.co/ssK8DzJ/flask.webp"
                    class="attachment-onepress-medium size-onepress-medium wp-post-image" alt="neodelphis"
                    srcset="https://i.ibb.co/ssK8DzJ/flask.webp 640w, https://i.ibb.co/ssK8DzJ/flask.webp 480w"
                    sizes="(max-width: 640px) 100vw, 640px">
                </div>
                <div class="service-image"><i class="fa fa-object-group fa-5x"></i></div>
                <div class="service-content">
                  <h4 class="service-title">Flask Application</h4>
                  <p>Développement de mon application à l'aide du microframework Flask</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="contact" class="section-contact section-padding  section-meta onepage-section">
        <div class="container">
          <div class="section-title-area">
            <h2  id="contact" class="section-title">Contact</h2>
            <div class="section-desc">
              <p>Audrey FOUGERE<br>
                07 84 91 19 98<br>
                Nantes</p>
            </div>
          </div>
      </section>
    </main><!-- #main -->
  </div>
</body>



{% endblock %}